<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ section.title }}{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SendCloud</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rss:explore' %}">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rss:parser' %}">Parser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rss:favorites' %}">Favorites</a>
          </li>
        </ul>
          <span>Welcome, <a href="#">{{ user.email }}</a></span>
          <a href="/logout/"><button class="btn btn-outline-danger" type="button">LogOut</button></a>
      {% else %}
          <ul class="navbar-nav mr-auto">
          </ul>
          <a href="/login/"><button class="btn btn-outline-success" type="button">Login</button></a>
          <a href="/register/"><button class="btn btn-outline-info" type="button">Register</button></a>
      {% endif %}
      </div>
</nav>

<div class="container">
    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-success" role="alert">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

{% block additional_scripts %}
{% endblock %}
</body>
</html>