{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{{ h1 }}</h1>
{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endfor %}
{% endif %}
{% if success %}
    <div class="alert alert-success" role="alert">
      {{ success }}
    </div>
{% endif %}

{% for f in feeds %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ f.channel.title }} | {{ f.title }}
        <a href="#" name="{{f.id}}" class="remove_bookmark">
            Remove from favorites
        </a>
    </h5>
    <p class="card-text">{{ f.channel.user.email }} <br>{{ f.description }}</p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_{{f.id}}" aria-expanded="false" aria-controls="collapseExample">
        Comments <span class="badge badge-pill badge-secondary">{{ f.comments.count }}</span>
    </button>
    <div class="collapse" id="collapse_{{f.id}}">
        {% for c in f.comments.all %}
        <div class="card card-body">
            {{ c.author.email }}<br>
            {{ c.text }}
        </div>
        {% endfor %}
        <form method="POST" id="form_{{f.id}}">
            <div class="form-group">
                <input type="text" name="comment" class="form-control" /><br>
                <input id="{{f.id}}" class="btn btn-success add_comment" value="Add comment">
            </div>
        </form>

    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if pagination.has_previous %}
            <a href="?page=1">1</a>
            <a href="?page={{ pagination.previous_page_number }}"><</a>
        {% endif %}

        {% if pagination.num_pages > 1 %}
        <span class="current">
            Page {{ pagination.number }} of {{ pagination.num_pages }}
        </span>
        {% endif %}


        {% if pagination.has_next %}
            <a href="?page={{ pagination.next_page_number }}">></a>
            <a href="?page={{ pagination.num_pages }}">{{ pagination.num_pages }}</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block additional_scripts %}
<script src="{% static 'rss_tool/js/rss.js' %}"></script>
<script src="{% static 'rss_tool/js/favorites.js' %}"></script>
{% endblock %}