{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>RSS Tool. Login</h1>
<div class="alert alert-secondary" role="alert">
    Not registered? <a href="{% url 'register' %}" class="badge badge-info">Registration</a>
</div>
{% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
{% endif %}
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}